/*reset样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
input{
    border: none;
    outline: none;
    font-size: 16px;
}
input::-ms-clear{
    display:none;
}
input::-ms-reveal{
    display:none;
}
/*组件样式*/
.addProject-one {
    color: #E1452D;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}
.addProject-two {
    color: #E1452D;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 30px;
}
/*箭头样式*/
.arrow {
    width: 12px;
    height: 7px;
    background-image: url("../image/arrow.svg");
    background-size: 100% 100%;
}
.edit-icon, .sub-edit-icon {
    width: 10px;
    height: 10px;
    background-image: url("../image/edit-icon.svg");
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
}
.delete-icon , .sub-delete-icon{
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-image: url("../image/delete-icon.png");
    background-size: cover;
    cursor: pointer;
}
.tree-one, .tree-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.tree-two {
    margin-bottom: 14px;
}
.left {
    display: flex;
    align-items: center;
}
.left .tree-one-name {
    margin-left: 11px;
    color: #000000;
    font-size: 14px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left .tree-two-name {
    font-size: 12px;
    color: #000000;
    line-height: 14px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right .num-input {
    width: 80px;
    height: 20px;
    background-color: #F4F4F4;
    text-align: center;
    padding: 0 3px;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 12px;
}
.right .sub-num-input {
    width: 80px;
    height: 20px;
    background-color: #F4F4F4;
    text-align: center;
    padding: 0 3px;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 12px;
}
.right span {
    font-size: 12px;
    color: #000000;
}
.sub-content {
    padding-left: 40px;
}


/*弹窗组件样式*/

.dialog-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-wrapper .dialog-content {
    width: 360px;
    height: 250px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dialog-wrapper .dialog-content .dialog-title {
    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    padding-top: 30px;
}

.dialog-wrapper .dialog-content .dialog-footer {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-wrapper .dialog-content .dialog-footer .dialog-btn {
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.dialog-wrapper .dialog-content .dialog-footer #dialog-cancel {
    border: 1px solid #CCCCCC;
    color: #000000;
}

.dialog-wrapper .dialog-content .dialog-footer #dialog-submit {
    background-color: #E1452D;
    color: #FFFFFF;
}

.dialog-wrapper .dialog-content .dialog-footer #dialog-submit-del {
    background-color: #E1452D;
    color: #FFFFFF;
}

.dialog-content #dialog-content-main {
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dialog-content-main #dialog-content-main-input {
    font-size: 12px;
    width: 100%;
    text-align: center;
}
